dask
pandas
zstandard
jupyterlab
elasticsearch-dsl
qdrant-client
google-generativeai
torch
transformers
sentence-transformers
orjson
bokeh>=3.1.0
python-dotenv
aiohttp
fastapi
uvicorn
accelerate
hdbscan
joblib
pyspark
psycopg2-binary
